.bg{
    width: 100vw;
    height: 100vh;
}

.square{
    width: 80vw;
    height: 80vh;
}

.top-border,
.bottom-border{
    height: 5vh;
}

.left-border,
.right-border{
    padding-top: 80px;
    padding-bottom: 80px;
    height: 70vh;
}

.field{
    position: absolute;
    width: 80vw !important;
    height: 80vh !important;
}

.player-div{
    width: 16px;
    height: 16px;
    background-color: #4e8810;
    margin-left: 4px;
}